.user_bady_img{
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url("../images/bgimg.png") repeat-y;
    background-size: 100% 100%;
}
.user_img_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.user_content_img{
    margin-top: .8rem;
    width: 1.867rem;
    height: 1.867rem;
    border-radius: 50%;
}
.user_content_text{
    margin-top: .4rem;
    font-size: .4267rem;
}
.user_content_id{
    font-size: .24rem;
}
.user_content_num{
    background: white;
    display: flex;
    flex-direction: column;
}
.user_content_mon{
    margin: .4rem .2667rem .2rem .2667rem;
    padding-bottom: .2rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f5f5f5;
}
.content_mon_img{
    width: .32rem;
    height: .32rem;
    margin-right: .2rem;
}
.content_mon_text{
    color: #999999;
}
.user_content_money{
    margin: .4rem .2667rem .4rem .2667rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content_money_right{
    display: flex;
    flex-direction: row;
}
.content_money_num{
    color: #f19149;
    font-size: .6rem;
}
.money_right_rcond{
    padding-top: .1rem;
    color: #366cb3;
    width: 2rem;
    height: .7rem;
    border: 1px solid #366cb3;
    text-align: center;
    border-radius: 30px;
    margin-right: .2rem;
}
.money_right_apply{
    padding-top: .1rem;
    color: white;
    width: 2rem;
    height: .7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url("../images/button.png") repeat-y;
    background-size: 100% 100%;
}
.user_list_content{
    margin-top: .2rem;
    background: white;
    display: flex;
    flex-direction: column;
}
.list_content_rcond{
    margin: .4rem .2667rem 0 .2667rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .4rem;
    border-bottom: 1px solid #f5f5f5;
}
.content_rcond_text{
    display: flex;
    flex-direction: row;
}
.rcond_text_img img{
    width: .34rem;
    height: .4667rem;
}
.rcond_text{
    margin-left: .2rem;
    font-size: .4rem;
}

/*login*/
.login_content_logo{
    text-align: center;
    align-items: center;
    padding-top: 5rem;
    width: 10rem;
    height: 10rem;
}
.login_content_nicheng{
    top: .92rem;
    left: .6667rem;
    position: relative;
    width: .5067rem;
    height: .5067rem;
    z-index: 99;
}
.login_content_input{
    color: #999999;
    margin-left: .2667rem;
    margin-right: .2667rem;
    padding-left: 1.2rem;
    width: 9.466rem;
    height: 1.4rem;
    border: 1px solid #c3c3c3;
    border-radius: 30px;
}
.login_content_register{
    margin: 1rem .2667rem 0 .2667rem;
    border-radius: 30px;
    color: white;
    background: #366cb3;
    text-align: center;
    padding-top: .4rem;
    height: 1.4rem;
    font-size: .4667rem;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ccc;
}


/*cash*/
.cash_content{
    margin: .4rem .2667rem 0.2rem .2667rem;
}
.cash_mon{
    font-size: .4667rem;
}
.cash_content_button{
    font-size: .2667rem;
    border: 1px solid #c3c3c3;
    padding-top: .2rem;
    border-radius: 5px;
    width: 4.733rem;
    height: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cash_content_button img{
    width: .4267rem;
    height: .4267rem;
    margin-right: .2rem;
}
.cash_content_input{
    border-top: .2rem solid #f5f5f5;
}
.cash_content_mon{
    margin: .4rem .2667rem 0 .2667rem;
    font-size: .4667rem;
}
.cash_content_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    margin-right: .2667rem;
    margin-left: .2667rem;
}
.cash_text_input{
    font-size: .8rem;
    margin: .4rem .2667rem 0 .2667rem;
    border:none;
    width: 8.467rem;
    height: 1rem;
}
input{
    color: #f19149;
}
.text_input_yuan{
    font-size: .4667rem;
    vertical-align: bottom;
    margin-top: 1rem;
}
.concact-button{
    width: 10rem;
    position:fixed;
    line-height: 1.333rem;
    font-size: .4533rem;
    color: white;
    text-align: center;
    background: #366cb3;
    bottom: 0;
}
.content_input_ava{
    margin: .4rem .2667rem 0 .2667rem;
    font-size: .4rem;
    color: #999999;
}
.content_input_ava .input_ava{
    color: #f19149;
    margin-left: .2rem;
}


/*taskitems*/
.taskitems_content{
    margin: .4rem .2667rem 0 .2667rem;
    display: flex;
    flex-direction: column;
}
.taskitems_content_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: .4rem;
    padding-top: .4rem;
}
.taskitems_content_text:first-child{
    padding-top: 0;
}
.taskitems_text{
    display: flex;
    flex-direction: row;
}
.taskitems_text img{
    width: .32rem;
    height: .36rem;
}
.taskitems_text_num{
    color: #a0a0a0;
    font-size: .32rem;
    margin-left: .2rem;
}
.taskitems_text_n{
    font-size: .4rem;
}
.taskitems_text_n span{
    color: #f19149;
}
.taskitems_expalin{
    margin: .4rem .2667rem 0 .2667rem;
    display: flex;
    flex-direction: column;
}
.taskitems_expalin_text{
    line-height: .6rem;
    padding-top: .4rem;
    font-size: .4rem;
    padding-bottom: .4rem;
    border-bottom: 1px solid #ccc;
}
.taskitems_copy{
    margin: .4rem .2667rem 0 .2667rem;
    width: 2rem;
    height: .6rem;
    border-radius: 30px;
    border: 1px solid #366cb3;
    color: #366cb3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .4rem;
    text-align: center;
    position: fixed;
    background: white;
    right: 0;
}

/*index*/
* {
    box-sizing: border-box;
}

#index_change #nav {
    height: 50px;
    width: 10rem;
    background: white;
}

#index_change #nav a {
    display: block;
    height: 1rem;
    padding-top: .2rem;
    font-size: .4rem;
    text-align: center;
    float: left;
    cursor: pointer;
}

#index_change #nav a.index_on {
    color: #366cb3;
    width: 5rem;
}
.index_on{
    width: 5rem;
    border-right: 1px solid #e0e0e0;
    margin-top: .2rem;
    margin-bottom: .2rem
}
.index_close{
    width: 5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
#index_contentBox {
    margin-top: .2667rem;
    width: 10rem;
    height: auto;
    background: white;
}

#index_contentBox .index_box {
    display: none;
}

#index_contentBox .index_box.active {
    display: block;
}
div.itemslist-panel
{
    margin:0px;
    padding:5px;
    text-align:center;
    background: #366cb3;
    border:solid 1px #c3c3c3;
    display:none;
    width: 30%;
    height: 17.79rem;
    color: white;
    line-height: 1rem;
    z-index: 99;
    font-size: .4rem;
}
.itemslist-panel a{
    color: white;
}
.itemslist-bg{
    background-color: rgba(159,159,159,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    filter: alpha(opacity=30);
    display: none;
}
.index_box_active{
    font-size: .4rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    display: flex;
    flex-direction: row;
    argin: 0 .2667rem 0 .2667rem;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    width: 100%;
}
.index_box_left{
    padding-left: .2rem;
    display: flex;
    flex-direction: row;
}
.index_box-left{
    display: flex;
    flex-direction: row;
    padding-left: .2rem;
}
.box_left_num{
    width: 50%;
    align-items: center;
    text-align: center;
}
.box_left_text{
    width: 50%;
    align-items: center;
    text-align: center;
}
/*.box-star{*/

/*}*/
/*.box-orstar{*/
    /*display: none;*/
/*}*/
.index_box_active img{
    margin-right: .2rem;
}
.index_box_active:last-child{
    border: none;
}
.index_box img{
    width: .6667rem;
    height: .6667rem;
}
/*#index_user_content{*/
    /*display: none;*/
/*}*/
#index_page{
    margin-top: 1rem;
}


/*mytask*/
* {
    box-sizing: border-box;
}

#mytask_nav {
    height: 50px;
    width: 10rem;
    background: white;
}

#mytask_nav a {
    display: block;
    height: 1rem;
    padding-top: .2rem;
    font-size: .4rem;
    text-align: center;
    float: left;
    cursor: pointer;
}

#mytask_nav a.index_on {
    color: #366cb3;
    width: 5rem;
}
#mytask_contentBox {
    margin-top: .2667rem;
    width: 10rem;
    height: auto;
    background: white;
}

#mytask_contentBox .index_box {
    display: none;
}

#mytask_contentBox .index_box.active {
    display: block;
}
/*#mytask_user_content{*/
    /*display: none;*/
/*}*/
#mytask_page{
    margin-top: 1rem;
}
#index_mytask_content{
    display: none;
}


/*phonecode*/
.code_content{
    margin: 1rem .2667rem 0 .2667rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code_content input{
    border: none;
    height: 1.4rem;
    border: 1px solid #a0a0a0;
    padding-left: .4rem;
    border-radius: 30px;
    width: 7.667rem;
}
.code_phone{
    display: flex;
    flex-direction: row;
}
.code_wx{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.code_zhipay{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.code_phonecode{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
#code_phonecode_input input{
    width: 2.667rem;
}
.code_phonecode_on{
}
.code_button{
    width: 9.467rem;
    margin: 1rem .2667rem 0 .2667rem;
    border-radius: 30px;
    color: white;
    background: #366cb3;
    text-align: center;
    padding-top: .2rem;
    height: 1.4rem;
    font-size: .4667rem;
}
.code_text{
    font-size: .4rem;
    margin-top: .2rem;
}
.code_phonecode .code_phonecode_num{
    margin-top: .2rem;
    position: absolute;
    right: .8rem;
    color: #366cb3;
    font-size: .4rem;
}

/*registerpage*/
.registerpage_img{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 8rem;
    margin: 2rem 1rem 1rem 1rem;
}
.registerpage_text{
    text-align: center;
    font-size: .4rem;
}