<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="/Task/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Task/css/main.css" />
    <link rel="stylesheet" href="/Task/css/style.css">
    <script type="text/javascript" charset="utf-8" src="/Task/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Task/js/index.js"></script>
</head>
<body class="grey">
    <div id="app">
        <div class="top">
            <div class="wrap-white">
                <i class="itemslist"><a href="#"></a></i>
                <div class="ptitle-white">个人中心</div>
                <!--<i class="searchi"><a href="#"></a></i>-->
            </div>
        </div>
        <div class="itemslist-bg">
            <div class="itemslist-panel">
                <p id="index_page"><a href="/home/index">首页</a></p>
                <p id="index_mytask"><a href="/user/mytask"> 我的任务</a></p>
                <p id="index_user"><a href="/user/center">个人中心</a> </p>
            </div>
        </div>
        <!--头像-->
        <div class="user_bady_img">
            <div class="user_img_list">
                <div class="user_content_img">
                    <img v-bind:src="user.headPic" />
                </div>
                <div class="user_content_text" v-html="user.nickName"></div>
                <div class="user_content_id" v-html="user.name"></div>
            </div>
        </div>
        <!--账户-->
        <div class="user_content_num">
            <div class="user_content_mon">
                <div class="content_mon_img">
                    <img src="/Task/images/money.png" />
                </div>
                <div class="content_mon_text">账户余额（元）</div>
            </div>
            <div class="user_content_money">
                <div class="content_money_num" v-html="user.amount"></div>
                <div class="content_money_right">
                    <a href="/takecash/list" class="money_right_rcond">提现记录</a>
                    <a href="/takecash/take" class="money_right_apply">提现</a>
                </div>
            </div>
        </div>
        <!--记录-->
        <div class="user_list_content">
            <!--收入记录-->
            <a href="/usertask/incomes" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img src="/Task/images/imfgreen.png" /></div>
                    <div class="rcond_text">收入记录</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
            <!--任务记录-->
            <a href="/usertask/list" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img src="/Task/images/imfblue.png"></div>
                    <div class="rcond_text">任务记录</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
            <!--绑定信息-->
            <a href="/user/resetbindinfo" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img src="/Task/images/imfblue.png"></div>
                    <div class="rcond_text">绑定信息</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
            <!--修改个人信息-->
            <a href="/user/edit" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img id="userimg" src="/Task/images/changeuser.png"></div>
                    <div class="rcond_text">修改信息</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
            <!--关于我们-->
            <a href="/home/about" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img id="about_user" src="/Task/images/aboutus.png"></div>
                    <div class="rcond_text">关于我们</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
            <!--联系客服-->
            <a href="/user/contact" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img src="/Task/images/conred.png"></div>
                    <div class="rcond_text">联系客服</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
            <!--退出-->
            <a href="/user/logout" class="list_content_rcond">
                <div class="content_rcond_text">
                    <div class="rcond_text_img"><img id="exit" src="/Task/images/exit.png"></div>
                    <div class="rcond_text">退出登录</div>
                </div>
                <div class="rcond_text_img"><img src="/Task/images/right_img.png" /></div>
            </a>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/Task/js/flexible.js"></script>
    <script src="~/assets/layer/layer.js"></script>
    <script src="~/Task/js/jquery.min.js"></script>
    <script src="~/js/vue.min2.5.16.js"></script>
    <script src="~/js/vue-resource.min1.5.0.js"></script>
    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                user: []
            },
            mounted: function () {
                this.$http.post('/user/get', {}, { emulateJSON: true }).then(function (result) {
                    this.user = result.data.data;
                })
            }
        });
    </script>
</body>
</html>