<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/Task/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Task/css/main.css" />
    <link rel="stylesheet" href="/Task/css/style.css">
</head>
<body>
    <div class="top">
        <!--logo-->
        <div class="login_content_logo">
            <img id="imgUrl" style="width:200px;height:200px" />
        </div>
        <!--账号-->
        <div class="login_content_num">
            <div class="login_content_nicheng"><img src="/Task/images/nicheng.png" /></div>
            <input class="login_content_input" id="name" placeholder="请输入用户名">
        </div>
        <!--验证码-->
        <div class="login_content_num">
            <div class="login_content_nicheng"><img src="/Task/images/mimas.png"></div>
            <input class="login_content_input" type="password" id="password" placeholder="请输入密码">
        </div>
        <!--按钮-->
        <div id="btnLogin" class="login_content_register">
            登录
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/Task/js/flexible.js"></script>
    <script src="~/Task/js/jquery.min.js"></script>
    <script src="~/assets/layer/layer.js"></script>
    <script src="~/Task/js/jquery-1.11.1.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: "/login/getlogo",
                type: "post",
                success: function (res) {
                    if (res.status == 1) {
                        $("#imgUrl").attr("src", res.data);
                    }
                    else if (res.status == 0) {
                        layer.msg(res.msg, { icon: 1 });
                    }
                },
                error: function () { layer.msg('网络错误', { icon: 1 }); }
            });
            $("#btnLogin").click(function () {
                var name = $("#name").val();
                var password = $("#password").val();
                $.ajax({
                    url: "/login/login",
                    type: "post",
                    data: { name: name, password: password },
                    success: function (res) {
                        if (res.status == 1) {
                            window.location.href = "/task/index";
                        }
                        else if (res.status == 0) {
                            layer.msg(res.msg, { icon: 1 });
                        }
                    },
                    error: function () { layer.msg('网络错误', { icon: 1 }); }
                });
            });
        });
    </script>
</body>
</html>