#page li {
    cursor: pointer;
}

.pagination > li {
    display: inline;
    position: relative;
    float: left;
    padding: 3px 6px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.curPager {
    color: brown;
}

.active {
    color: brown;
}
