@model decimal
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现</title>
    <link rel="stylesheet" type="text/css" href="/Task/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Task/css/main.css" />
    <link rel="stylesheet" href="/Task/css/style.css">
</head>
<body>
    <div class="top">
        <div class="wrap-white">
            <i class="backto"><a href="javascript:history.back(-1);"></a></i>
            <div class="ptitle-white">提现</div>
            <!--<i class="searchi"><a href="#"></a></i>-->
        </div>
    </div>
    <div class="cash_content">
        <div class="withdr_cot cash_mon">
            <select id="payTypeId" name="">
                <option value="13">微信</option>
                <option value="14">支付宝</option>
            </select>
        </div>
    </div>
    <div class="cash_content_input">
        <div class="cash_content_mon">提现金额</div>
        <div class="cash_content_text">
            <input id="amount" class="cash_text_input" />
            <div class="text_input_yuan">元</div>
        </div>
        <div class="content_input_ava">可提现余额<span class="input_ava">@(Model)元</span></div>
    </div>

    <!--按钮-->
    <div id="take" class="concact-button">申请提现</div>

    <script type="text/javascript" charset="utf-8" src="/Task/js/flexible.js"></script>
    <script src="~/Task/js/jquery.min.js"></script>
    <script src="~/Task/js/jquery-1.11.1.min.js"></script>
    <script src="~/assets/layer/layer.js"></script>
    <script>
        $(function () {
            $("#take").click(function () { 
                var payTypeId = $("#payTypeId").val();
                var amount = $("#amount").val();

                var reg = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;
                if (!reg.test(amount)) {
                    layer.msg('请输入正确的金额', { icon: 1 });
                    return;
                }
                if (amount <= 0) {
                    layer.msg('提现金额必须大于零', { icon: 1 });
                    return;
                }

                $.ajax({
                    url: "/takecash/take",
                    type: "post",
                    data: { payTypeId: payTypeId, amount: amount },
                    success: function (res) {
                        if (res.status == 1) {
                            layer.alert(res.msg, { icon: 1, title: '提示框' }, function () {
                                window.location.reload();
                            });
                        }
                        else if (res.data=="/user/bindinfo")
                        {
                            layer.alert(res.msg, { icon: 1, title: '提示框' }, function () {
                                window.location.href = res.data;
                            });
                        }
                        else if (res.status == 0) {
                            layer.msg(res.msg, { icon: 1 });
                        }
                    },
                    error: function () {
                        layer.msg("网络错误", { icon: 1 });
                    }
                });
            });                        
        });
    </script>
</body>
</html>