#index_change #nav1 {
    height: 50px;
    width: 100%;
    background: white;
}

    #index_change #nav1 a {
        display: block;
        height: 1rem;
        padding-top: .2rem;
        font-size: .4rem;
        text-align: center;
        float: left;
        cursor: pointer;
    }

        #index_change #nav1 a.index_on {
            color: #366cb3;
            width: 50%;
        }
