<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/Task/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Task/css/main.css" />
    <link rel="stylesheet" href="/Task/css/style.css">
    <script type="text/javascript" charset="utf-8" src="/Task/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Task/js/index.js"></script>
</head>
<body class="grey">
    <div class="top">
        <div class="wrap-white">
            <i class="itemslist"><a href="#"></a></i>
            <div class="ptitle-white">首页</div>
            <i class="searchi"><a href="#"></a></i>
        </div>
    </div>
    <div class="itemslist-bg">
        <div class="itemslist-panel">
            <p id="index_page"><a href="/task/index">首页</a></p>
            <p id="index_mytask"><a href="/user/mytask"> 我的任务</a></p>
            <p id="index_user"><a href="/user/center">个人中心</a> </p>
        </div>
    </div>
    <!--任务-->
    <div id="index_change">
        <div id="nav">
            <a v-on:click="newtask" class="index_on" id="index_on">新上线任务</a>
            <a v-on:click="task" class="index_close" id="index_close">任务大厅</a>
        </div>
        <div id="index_contentBox">
            <div class="index_box active">
                <div v-for="task in newtasks">
                    <!--新上线任务-->
                    <div class="index_box_active">
                        <a v-bind:href="'/task/detail?id='+ task.id">
                            <div class="index_box-left">
                                <div><img src="/Task/images/taskimg.png" /></div>
                                <div v-html="task.title"></div>
                            </div>
                        </a>                        
                        <div class="box-star"><img v-on:click="newtaskcollect($event,task.id)" v-bind:src="task.isCollect==false?'/Task/images/star.png':'/Task/images/orstar.png'" alt="" /></div>
                    </div>
                </div>
            </div>

            <div class="index_box">
                <div v-for="task in tasks">
                    <!--任务大厅-->
                    <div class="index_box_active">
                        <a v-bind:href="'/task/detail?id='+ task.id">
                            <div class="index_box-left">
                                <div><img src="/Task/images/taskimg.png" /></div>
                                <div v-html="task.title"></div>
                            </div>
                        </a>                        
                        <div class="box-star"><img v-on:click="newtaskcollect($event,task.id)" v-bind:src="task.isCollect==false?'/Task/images/star.png':'/Task/images/orstar.png'" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/Task/js/flexible.js"></script>
    <script src="~/assets/layer/layer.js"></script>
    <script src="~/Task/js/jquery.min.js"></script>
    <script src="~/js/vue.min2.5.16.js"></script>
    <script src="~/js/vue-resource.min1.5.0.js"></script>
    <script>
        var vue = new Vue({
            el: "#index_change",
            data: {
                newtasks: [],
                tasks: []
            },
            methods: {
                newtask: function () {
                    this.$http.post('/task/get', { within: 7 }, { emulateJSON: true }).then(function (result) {
                        this.newtasks = result.data.data.tasks;
                    });
                },
                newtaskcollect: function (event,id) {
                    if ($(event.target).attr("src") == '/Task/images/orstar.png') {
                        $(event.target).attr("src", "/Task/images/star.png");
                        this.$http.post('/collect/set', { taskId: id, isCollect: false }, { emulateJSON: true }).then(function (result) {});
                    }
                    else {
                        $(event.target).attr("src", "/Task/images/orstar.png");
                        this.$http.post('/collect/set', { taskId: id, isCollect: true }, { emulateJSON: true }).then(function (result) {});
                    }
                },
                task: function () {
                    this.$http.post('/task/get', {}, { emulateJSON: true }).then(function (result) {
                        this.tasks = result.data.data.tasks;
                    });
                }
            },
            mounted: function () {
                this.newtask();
            }
        });
    </script>
</body>
</html>